<%- include('partials/header', { pageTitle: 'About Us' }) %>

<main>
  <h1><%= title %></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sequi et porro vitae aliquam excepturi, ipsam rerum, enim nihil quaerat harum distinctio doloribus quibusdam hic, reiciendis maiores ducimus corporis molestias dolorum. Neque dolorum voluptatem ullam nisi facere quidem libero perspiciatis aliquid doloremque corrupti totam beatae in, reprehenderit suscipit nam nobis.</p>

  <img src="/images/about-page.png" alt="team members">
</main>

<%- include('partials/footer') %>